<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-12">
        <div class="section" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGuest" aria-expanded="false" aria-controls="collapseGuest">
          Combien de personnes seront présentes ?
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseGuest">
      <div class="row">
        <div class="col-12">
          <%= f.input :number_of_guests, input_html: { min: 2, max: 50 } %>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
      <div class="col-12">
        <div class="section" type="button" data-bs-toggle="collapse" data-bs-target="#collapseShare" aria-expanded="false" aria-controls="collapseShare">
          Choisissez le thème de votre partage
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseShare">
      <% Share.all.sort_by(&:title).each do |share| %>
        <div class="squaretag-item">
          <input class="form-check-input radio_buttons optional squaretag-selector share" type="radio" value="<%= share.id %>"  name="event[share_id]" id="event_share_id_<%= share.id %>">
          <label class="form-check-label collection_radio_buttons product-card" for="event_share_id_<%= share.id %>">
            <div class="row">
              <div class="col-2 col-lg-1">
                <% if share.photo.present? %>
                  <%= cl_image_tag share.photo.key, height: 100, width: 100, crop: :fill, class: 'img-fluid beyond' %>
                <% else %>
                  <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649843769/beertrackr/Black_circle.svg', height: 100, width: 100, crop: :fill, class: 'img-fluid beyond' %>
                <% end %>
              </div>
              <div class="col-8">
                <p style="color: #cb5627;"><%= share.title %></p>
                <p style="font-size: 12px;"><%= share.description %></p>
              </div>
              <div class="col-2 col-lg-2"><%= share.price %> €/ Pers</div>
            </div>
          </label>
        </div>
      <% end %>
    </div>

    <div class="row" style="margin-bottom: 20px;">
      <div class="col-12">
        <div class="section" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStarter" aria-expanded="false" aria-controls="collapseStarter">
          Choisissez vos entrées et le nombre de parts
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseStarter">
      <div class="card card-body">
        <%= f.simple_fields_for :event_starters do |es_form| %>
          <div class="starter-fields">
            <div class="row">
              <div class="col-8">
                <%= es_form.association :starter, label: false, collection: Starter.all,
                    label_method: ->(starter) { starter.title },
                    value_method: :id, input_html: { disabled: true } %>
                <%= es_form.hidden_field :starter_id, value: es_form.object.starter_id %>
              </div>
              <div class="col-2">
                <%= es_form.input :quantity, input_html: { min: 0 }, label: false, value: es_form.object.quantity || 0 %>
              </div>
              <div class="col-2">
                <% if es_form.object.starter.present? %>
                  <p class="starter-price">
                    <%= es_form.object.starter.price %> € / Pers
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
      <div class="col-12">
        <div class="section" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDessert" aria-expanded="false" aria-controls="collapseDessert">
          Choisissez vos desserts et nombre de parts
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseDessert">
      <div class="card card-body">
        <%= f.simple_fields_for :event_desserts do |es_form| %>
          <div class="row">
            <div class="col-8">
              <%= es_form.association :dessert, label: false, collection: Dessert.all,
                  label_method: ->(dessert) { dessert.title },
                  value_method: :id, input_html: { disabled: true } %>
              <%= es_form.hidden_field :dessert_id, value: es_form.object.dessert_id %>
            </div>
            <div class="col-2">
              <%= es_form.input :quantity, input_html: { min: 0 }, label: false, value: es_form.object.quantity || 0 %>
            </div>
            <div class="col-2">
              <% if es_form.object.dessert.present? %>
                <p class="dessert-price">
                  <%= es_form.object.dessert.price %> € / Pers
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :arrival, "Date et heure d'arrivée" %>
      <%= f.datetime_local_field :arrival, id: "arrival-picker", class: "form-control" %>
    </div>



    <h3 style='color: #cb5627;'>Informations sur l'organisateur</h3>
    <%= f.simple_fields_for :organizer do |organizer_form| %>
      <%= organizer_form.input :last_name, label: "Nom", required: false %>
      <%= organizer_form.input :first_name, label: "Prénom", required: false %>
      <%= organizer_form.input :phone_number, label: "Numéro de téléphone", required: false %>
      <%= organizer_form.input :email, label: "Email", required: false %>
    <% end %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Envoyez votre demande', class: 'booking' %>
  </div>
<% end %>

<script >
  document.addEventListener("DOMContentLoaded", function () {
    // Initialisation de Flatpickr avec les options souhaitées
    flatpickr("#arrival-picker", {
      disable: [
        function (date) {
          // Désactiver les dimanches (0), lundis (1), mardis (2), mercredis (3)
          return [0, 1, 2, 3].includes(date.getDay());
        },
      ],
      enableTime: true,             // Active la sélection d'heure
      time_24hr: true,              // Format 24h
      dateFormat: "Y-m-d H:i",      // Format pour inclure la date et l'heure
      locale: "fr",                 // Localisation en français
      minDate: "today",             // Empêche la sélection des dates passées
      onChange: function (selectedDates, dateStr, instance) {
        // Vérifie les créneaux horaires
        const selectedDate = selectedDates[0];
        if (selectedDate) {
          const hours = selectedDate.getHours();
          const minutes = selectedDate.getMinutes();
          const valid =
            (hours >= 12 && hours < 14) || // Créneau 12h à 14h
            (hours >= 19 && (hours < 21 || (hours === 21 && minutes <= 30))); // Créneau 19h à 21h30

          // Si l'heure sélectionnée n'est pas valide, réinitialiser le champ
          if (!valid) {
            alert("Veuillez sélectionner un créneau entre 12h-14h ou 19h-21h30.");
            instance.clear();
          }
        }
      },
    });
  });


</script>


