<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-12">
        <div class="section">
          Choisissez le nombre de personnes et le thème de votre partage
        </div>
      </div>
    </div>

    <%= f.input :number_of_guests, label: false, placeholder: 'Nombre de personnes', input_html: { min: 2, max: 50 } %>

    <% Share.all.sort_by(&:title).each do |share| %>
      <div class="squaretag-item">
        <input class="form-check-input radio_buttons optional squaretag-selector share" type="radio" value="<%= share.id %>"  name="event[share_id]" id="event_share_id_<%= share.id %>">
        <label class="form-check-label collection_radio_buttons product-card" for="event_share_id_<%= share.id %>">
          <div class="row">
            <div class="col-2 col-lg-1">
              <% if share.photo.present? %>
                <%= cl_image_tag share.photo.key, height: 100, width: 100, crop: :fill, class: 'img-fluid beyond desktop-only' %>
              <% else %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649843769/beertrackr/Black_circle.svg', height: 100, width: 100, crop: :fill, class: 'img-fluid beyond desktop-only' %>
              <% end %>
            </div>
            <div class="col-7 col-lg-8">
              <p class="desktop-only" style="color: #cb5627;"><%= share.title %></p>
              <% if share.title.length > 23 %>
                <p class="mobile-only" style="color: #cb5627;"><%= share.title[0..19] %>...<br></p>
              <% else %>
                <p class="mobile-only" style="color: #cb5627;"><%= share.title %><br></p>
              <% end %>

              <p class="desktop-only" style="font-size: 12px;"><%= share.description %></p>
              <p class="mobile-only"style="font-size: 12px;">
                <% if share.description.length > 25 %>
                  <%= share.description[0..22] %>...</p>
                <% else %>
                  <%= share.description %></p>
                <% end %>
              </p>
            </div>
            <div class="col-3 col-lg-2"><%= share.price %>€ / Personne</div>
          </div>
        </label>
      </div>
    <% end %>


    <div class="row" style="margin-bottom: 20px;">
      <div class="col-12">
        <div class="section" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStarter" aria-expanded="false" aria-controls="collapseStarter">
          Choisissez vos entrées et le nombre de parts
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseStarter">
      <div class="card card-body">
        <%= f.simple_fields_for :event_starters do |es_form| %>
          <div class="starter-fields">
            <div class="row">
              <div class="col-6 col-lg_8">
                <%= es_form.association :starter, label: false, collection: Starter.all,
                    label_method: ->(starter) { starter.title },
                    value_method: :id, input_html: { disabled: true } %>
                <%= es_form.hidden_field :starter_id, value: es_form.object.starter_id %>
              </div>
              <div class="col-3 col-lg_2">
                <%= es_form.input :quantity, input_html: { min: 0 }, label: false, value: es_form.object.quantity || 0 %>
              </div>
              <div class="col-3 col-lg-2">
                <% if es_form.object.starter.present? %>
                  <p class="starter-price">
                    <%= es_form.object.starter.price %> € / Pers
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
      <div class="col-12">
        <div class="section" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDessert" aria-expanded="false" aria-controls="collapseDessert">
          Choisissez vos desserts et nombre de parts
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseDessert">
      <div class="card card-body">
        <%= f.simple_fields_for :event_desserts do |es_form| %>
          <div class="row">
            <div class="col-6 col-lg-8">
              <%= es_form.association :dessert, label: false, collection: Dessert.all,
                  label_method: ->(dessert) { dessert.title },
                  value_method: :id, input_html: { disabled: true } %>
              <%= es_form.hidden_field :dessert_id, value: es_form.object.dessert_id %>
            </div>
            <div class="col-3 col-lg-2">
              <%= es_form.input :quantity, input_html: { min: 0 }, label: false, value: es_form.object.quantity || 0 %>
            </div>
            <div class="col-3 col-lg-2">
              <% if es_form.object.dessert.present? %>
                <p class="dessert-price">
                  <%= es_form.object.dessert.price %> € / Pers
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div style="margin-bottom: 20px;">
      <%= f.datetime_local_field :arrival, id: "arrival-picker", class: "form-control", placeholder: "Date et heure d'arrivée" %>
    </div>



    <h3 style='color: #cb5627;'>Informations sur l'organisateur</h3>
    <%= f.simple_fields_for :organizer do |organizer_form| %>
      <%= organizer_form.input :last_name, label: false, placeholder: "Nom", required: false %>
      <%= organizer_form.input :first_name, label: false, placeholder: "Prénom", required: false %>
      <%= organizer_form.input :phone_number, label: false, placeholder: "Numéro de téléphone", required: false %>
      <%= organizer_form.input :email, label: false, placeholder: "Email", required: false %>
    <% end %>
    <%= f.input :comment, label: false, placeholder: "Ajoutez ici vos souhaits, précisions, éventuelles allergies...", required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Envoyez votre demande', class: 'booking' %>
  </div>
<% end %>




