<div id="<%= dom_id main_course %>">
  <p>
    <strong>Name:</strong>
    <%= main_course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= main_course.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= main_course.price %>
  </p>

  <p>
    <strong>Number of guests:</strong>
    <%= main_course.number_of_guests %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= main_course.arrival %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= main_course.comment %>
  </p>

</div>
